# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/
*.xcuserstate
*.xcuserdatad

## Scheme
musicplayer.xcodeproj/xcshareddata/xcschemes/musicplayer.xcscheme

## Other
.DS_Store